<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/jakekarl3">Jake</a>. A web developer who is on a missiont to develope the skills necessary to thrive in the development world.
  </p>
  <br />
  <p>
    He has the confidence and ability to build projects to change the world.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'jake.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jake Karl</h2>
      <br />
      <p>
        Jake Karl is a web developer out of Chicago looking for opportunities to work on fun and engaging projects.
      </p>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />